<%= wiki_object_form(character) do |f, url| %>
  <div class="field">
    <%= f.label :story_role %>
    <%= f.select :story_role, Wiki::Character.story_roles.keys.map { |r| [r.humanize, r] } %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.select :gender, [['Unknown', nil]] + Wiki::Character.genders.keys.map { |w| [w.humanize, w]} %>
  </div>

  <div class="field">
    <%= f.label :specialty %>
    <%= f.text_field :specialty %>
  </div>

  <div class="field">
    <%= f.label :hometown_id %>
    <%= f.select :hometown_id, [['Unknown', nil]] + Wiki::Location.habitable.map { |l| [l.name, l.id] } %>
  </div>

  <div class="field">
    <%= f.label :trainer_class_id %>
    <%= f.select :trainer_class_id, [['Unknown', nil]] + Wiki::TrainerClass.all.map { |t| [t.name, t.id, 'data-specialty': t.specialty] } %>
  </div>
<% end %>