<script>
  $(window).on('turbolinks:load', () => {
    const $select = $('#location_map_type');
    const $hide = $('[data-if-habitable]');

    $select.change(() => {
      const option = $select.find('option:selected')[0];

      if (option.dataset.habitable === 'true') {
        $hide.show();
      } else {
        $hide.hide();
      }
    });
  });
</script>

<%= wiki_object_form(location) do |f| %>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :region_id %>
    <%= f.select :region_id, Wiki::Region.all.map { |r| [r.name, r.id] } %>
  </div>

  <div class="field">
    <%= f.label :map_type %>
    <%= f.select :map_type, Wiki::Location.map_types.keys.map { |m| [m.humanize, m, 'data-habitable': Wiki::Location.habitable?(m) ]} %>
  </div>

  <div class="field" data-if-habitable style="<%= 'display: none' unless location.habitable? %>">
    <%= f.label :population %>
    <%= f.number_field :population %>
  </div>

  <div class="field">
    <%= f.rich_text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>