<!DOCTYPE html>
<html>
  <head>
    <title>AncientScroll</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="<%= body_variables %>">
    <aside>
      <%= link_to 'TODO', class: 'brand' do %>
        <%= fa Wiki.config.primary_icon %>
      <% end %>

      <nav>
        <%= wiki_object_type_path('Regions') %>
        <%= wiki_object_type_path('Locations') %>
        <%= wiki_object_type_path('Quests') %>

        <%= divider %>

        <%= wiki_object_type_path('Characters') %>
        <%= wiki_object_type_path('Organizations') %>
        <%= wiki_object_type_path('Trainer Classes', 'trainer_class') %>

        <%= divider %>

        <%= wiki_object_type_path('Pokémon', 'pokemon') %>
        <%= wiki_object_type_path('Abilities') %>
        <%= wiki_object_type_path('Moves') %>

        <%= divider %>

        <%= link_to 'FAQ', '/faq' %>
        <%= link_to 'Creators', '/creators' %>
        <%= link_to 'Github', Wiki.config.github_url if Wiki.config.github_url %>
      </nav>
    </aside>

    <main>
      <div class="main__content">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
