<!DOCTYPE html>
<html>
  <head>
    <title>AncientScroll</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="<%= body_variables %>">
    <header>
      <%= link_to 'TODO', class: 'brand' do %>
        <%= Wiki.config.name %>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
